.summary {
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: 4rem 2rem 5rem;
}

.summary .section-lists {
  background-color: #fff;
  padding: 2rem;
}

.summary .list-header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.summary .list-item {
  padding: 1.4rem 0;
  border-bottom: 1px solid #f1f4f6;
}

.summary .list-item:last-child {
  border-bottom: none;
}

/* Media Queries */
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  .summary .container {
    padding: 0;
  }
}
