@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fc5d66;
  --secondary-color: #ffc05a;
  --light-color: #f9fafb;
  --dark-color: #272d35;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.container-sm {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  padding: 1.6rem 2.6rem;
  border: 1px solid var(--secondary-color);
  border-radius: 32px;
  background-color: var(--secondary-color);
  color: var(--dark-color);
  cursor: pointer;
  outline: none;
  transition: all 200ms;
}

.btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-color: #fff;
}

/* Media Queries */
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
