.info-container {
  background: url("../../../public/images/audience.jpg") top center/cover
    no-repeat;
  display: flex;
}

.info-content {
  background-color: var(--primary-color);
  color: #fff;
  flex: 1;
  padding: 4rem;
}

.info-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.info-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.info-content ul li {
  font-size: 1.2rem;
  line-height: 2;
}

.info-content svg {
  margin-right: 0.5rem;
  color: var(--secondary-color);
}

.info-left {
  width: 50%;
}

/* Media Queries */
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .info-container {
    flex-direction: column;
  }

  .info-content {
    padding: 2rem;
  }

  .info-content h2 {
    font-size: 1.5rem;
  }

  .info-content p {
    font-size: 1rem;
  }

  .info-content ul li {
    font-size: 1rem;
  }

  .info-left {
    display: none;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
