.stats {
  background: #000 url("../../../public/images/stats-background.jpg") center
    center/cover no-repeat;
  color: white;
}

.stats-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
}

.stats img {
  width: 100%;
  max-width: 500px;
}

.stats-content {
  max-width: 500px;
}

.stats .stats-numbers {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.stats .stats-numbers h3 {
  font-size: 3rem;
  font-weight: 700;
}

.stats .stats-numbers p {
  font-size: 0.8rem;
}

.stats .stats-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.stats .btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 230px;
}

@media screen and (max-width: 992px) {
  .stats .stats-flex {
    flex-direction: column;
    gap: 2rem;
  }
}
